h1 {
    background-color: #e2e2e2;
    padding: 20px
}


body {
  text-align: center;
  font-family: "Arial";
}

.main-image {
    text-align: center;
    border: solid 5px gray;
    border-radius: 50%;
    width:400px;
    height:400px;
}
